[Desktop Entry]
Encoding=UTF-8
Name=e-foto
Comment=Educational Digital Photogrammetry Workstation
Exec=e-foto %F
Icon=e-foto.png
Terminal=false
Type=Application
StartupNotify=true
Categories=Education;
MimeType=application/vnd.e-foto;
